body {
  margin: 10px; /* o el valor que quieras, puede ser 0 */
  padding: 0;   /* opcional, para ajustar el padding */
    background-color:darkslategray;
    color: white;
}

.inline-elements {
    display: inline-block;
  }

.card {
  background-color: #cce5ff; /* azul claro */
}
  .titleBlock {
    color: white;
    background-color:cadetblue;
    padding: 0.5rem;
    font-size:x-large;
  }

  .card-body {
  text-align: justify;
}

  .dropdown-item:hover {
    background-color:cadetblue;

    color: white; /* Opcional: Cambiar el color del texto al hacer hover */
  }

  .bg-custom {
    background-color:cadetblue; /* Reemplaza con tu color personalizado */
}



/*


  .mainContainer {
  margin-top: 56px; /* Ajusta este valor según la altura de tu barra de navegación */
