body {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:darkslategray;
    color: white;
}



.inline-elements {
    display: inline-block;
  }

  .card-body.text-center {
    background-color:powderblue
  }

  .titleBlock {
    color: white;
    background-color:cadetblue;
    padding: 0.5rem;
    font-size:x-large;
  }

  .dropdown-item:hover {
    background-color:cadetblue;

    color: white; /* Opcional: Cambiar el color del texto al hacer hover */
  }

  .bg-custom {
    background-color:cadetblue; /* Reemplaza con tu color personalizado */
}



/*


  .mainContainer {
  margin-top: 56px; /* Ajusta este valor según la altura de tu barra de navegación */
